/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1E6091;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #1E6091;
    text-align: center;
}

.service-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

.service-list li {
    margin: 10px;
    padding: 10px;
    background-color: #606060;
    color: white;
    display: inline-block;
}

.service-list li a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #606060;
    color: white;
}
